---
import type { ImageMetadata } from "astro";

interface Props {
  imgLocation: ImageMetadata;
}

const { imgLocation } = Astro.props;
---

<div class="carousel-item">
  <img class="aspect-auto custom-max-h" src={imgLocation.src} alt="Slide" />
</div>
